<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yj.tech.admin.modules.system.service.mapper.DeptMapper">
    <resultMap id="BaseResultMap" type="com.yj.tech.admin.modules.system.service.entity.Dept">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="deleteStatus" jdbcType="INTEGER" property="deleteStatus" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="order_num" jdbcType="INTEGER" property="orderNum" />
        <result column="manager" jdbcType="VARCHAR" property="manager" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="status" jdbcType="BIT" property="status" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    </resultMap>

    <sql id="Base_Column_List">
        id,deleteStatus,createTime,updateTime,dept_name,order_num,manager,phone,email,status,create_by,update_by,parent_id
    </sql>

    <select id="getDeptByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            d.*
        from redpig_sys_dept d
        left join redpig_sys_user u on u.dept_id = d.id
        where u.id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>